.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #282c34;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
  color: #61dafb;
}

.App-content {
  margin: 10px 10px 10px 10px;
}

.App-title {
  border: #61dafb 1px solid;
  font-size: 18px;
}

.App-description {
  border: #61dafb 1px solid;
  font-size: 14px;
}

.App-salary {
  border: #61dafb 1px solid;
  font-size: 14px;
}